:root {
    --info-bg: #CCDEFF;
    --info-text: #3C3496;
    --success-bg: #FCFBC9;
    --success-info: #388659;
    --warning-color: #948225;
    --warning-bg: #FAD2D6;
    --error-color: #882139;
    --error-bg:#FAD2D6;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    margin: 7px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.message-info{
    color: var(--info-text);
    background-color: var(--info-bg);
}
.message-success{
    color: var(--success-info);
    background-color: var(--success-bg);
}
.message-warning{
    color: var(--warning-color);
    background-color: var(--warning-bg);
}
.message-error{
    color: var(--error-color);
    background-color: var(--error-bg);
}